html
	head(lang='en')
		meta(charset='UTF-8')
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
		script(src='/javascripts/libraries/carhartl-jquery-cookie-92b7715/jquery.cookie.js')

		// the 'cocos' attribute is needed because the cocos2d library searches for the project.json file
		// in the same directory as the 'src' attribute of this script tag
		script(cocos src='/javascripts/cocos2d-components/cocos2d-js-v3.1.js')
		script(src='/javascripts/cocos2d-components/src/startup.js')
	body
		canvas#cocos2d_gameCanvas(width='512' height='512')
		canvas#sand_grid_region(width='512', height='512' style='display: none;')
		canvas#lit_sand_grid_region(width='512', height='512')
