body {
  margin: 0;
}

#signIn {
  position: absolute;
  z-index: 1;
  bottom: 120px;
  left: 100px;
  width: 96px;
  height: 60px;
  background-color: #E5E5E5;

  border: solid #515151 2px;
}

.signInInput {
  width: 96px;
}