body {
  margin: 0;
}

#signIn {
  position: absolute;
  z-index: 1;
  bottom: 40px;
  left: 20px;
  width: 146px;

  background-color: #E5E5E5;
  border: solid #515151 2px;
}

.inputStyle {
  font-family: "Courier", monospace;
  font-size: small;
  width: 146px;
  display: inline;
}