html
	head(lang='en')
		meta(charset='UTF-8')
		meta(
			name='description'
			content='Explore an infinite desert as an elephant. Anything drawn in the sand remains forever.'
		)
		title='Sand'

		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
		script(src='/javascripts/libraries/google_analytics.js')
		script(src='/javascripts/libraries/carhartl-jquery-cookie-92b7715/jquery.cookie.js')
		script(src='/socket.io/socket.io.js')

		// the 'cocos' attribute is needed because the cocos2d library searches for the project.json file
		// in the same directory as the 'src' attribute of this script tag
		script(cocos src='/javascripts/libraries/cocos2d/cocos2d-js-v3.1.js')

		if (environment == 'development')
			script(src='/startup.js')
			script(src='/cocos2d_image_resources.js')
			script(src='/GameScene.js')
			script(src='/ElephantLayer.js')
			script(src='/BackgroundLayer.js')
			script(src='/modify_region.js')
			script(src='/canvas_update.js')
			script(src='/RegionNode.js')
			script(src='/global_constants.js')
			script(src='/global_functions.js')
			script(src='/dune_functions.js')
			script(src='/footprint_functions.js')
			script(src='/login_form.js')
			script(src='/shared_rock_functions.js')
		else
			script(src='/javascripts/min.js')
	body
		include sign_in