html
	head(lang='en')
		meta(charset='UTF-8')
		title='Sand: set new password'
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
	body
		img(src="/images/icons/elephant_icon.png")
		div#panelTopLeft.panelStyle
			br
			if tokenExists
				form#setPasswordForm
					input.inputBox(type="password", name="password", placeholder="password", autofocus=true)
					br
					input.inputBox(type="password", name="confirmPassword", placeholder="confirm password")
					br
					a#changePasswordButton.textButton change password
				div.responseDiv
					a#error.errorText
					a#text.confirmText
			else
				p.fieldText reset password link expired :c

			script.
				$('.textButton').hover(
						function () {
							$(this).text(">> " + $(this).text());
						},
						function () {
							$(this).text($(this).text().substr(3));
						}
				);
				$('#changePasswordButton').click(function () {
					$.post(
						"/set_new_password/#{token}",
						$("#setPasswordForm").serialize(),
						function (data) {
							if (data.error) {
								$('#error').show().text(data.error);
								$('#text').hide();
							} else if (data.text) {
								$('#error').hide();
								$('#text').show().text(data.text);
								setTimeout(function() {
									window.location.href = data.url;
								}, 500);
							}
						}
					);
				});