div#travellerSpeechBox
	div#welcomeTextNotLoggedIn.travellerSpeechOptions
		p.fieldText.
			Welcome, traveller, to the eternal sands.<br/><br/>

			A gift awaits.
	div#welcomeText.travellerSpeechOptions
		p.fieldText.
			Greetings once more, traveller.<br/><br/>

			I offer you one of two gifts. Choose either the shovel or the paintbrush.
			You may later exchange one for the other.<br/><br/>

			Choose:
		a.shovelButton.textButton shovel
		a.paintbrushButton.textButton paintbrush
		<br/>
	div#shovelChosenText.travellerSpeechOptions
		p.fieldText.
			Click and drag to dig. Memories may lie beneath the surface.<br/>
	div#paintbrushChosenText.travellerSpeechOptions
		p.fieldText.
			Click and drag to paint.<br/><br/>
			Take these stones also. Once all four are placed, they
			will protect your work from others.<br/>
	div#welcomeBackText.travellerSpeechOptions
		p.fieldText.
			Onegai shimasu, traveller. Choose your gift:
		a.shovelButton.textButton shovel
		a.paintbrushButton.textButton paintbrush
		<br/>